@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.link-ativo {
    background-color: #FF0077;
    color           : #fff;
}



/* ======= HEADER ========= */

header {
    display        : flex;
    justify-content: center;
    align-items    : center;
    flex-direction : row-reverse;
    flex-wrap      : wrap;
    height         : 8vh;
    /*  nav disply :none aqui muda height: 35vh*/
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}

.logo-header {
    width : 90vw;
    height: 6vh;

}

.img-3bars {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    height         : 5vh;
    width          : 5vw;
}

nav {
    display        : none;
    justify-content: space-around;
    align-items    : center;
    flex-direction : column;
    width          : 100%;
    height         : 100%;
    font-weight    : bold;
    border-bottom: #FF0077;
}



nav a {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 100%;
    height         : 100%;
    color          : #000;
    text-decoration: none;
    font-size      : 1.5rem;
}

.toggle-button{
    display: static;
}
.toggle-checkbox{
    display: none;
}
.toggle-checkbox:checked ~ nav{
    display: flex;
    position: absolute;
    z-index: 10;
    background-color: #fff;
    top: 8vh;
    height: 40%;
    transition: all 3s ease;
}


/* ========== FOOTER ========== */

.f-horarios, .f-titulos{
    display: none;
}
footer{
    line-height: 1.3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #FF0077;
    color: #fff;
    text-align: center;
    height: 80vw;
    padding-top:8vw ;
}
.f-logo{
    width: 100%;
    height: 8vw;
}
.f-social-midia{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 7vw;
}

.copyright p {
    text-align: center;
    border-top: 1px solid rgb(255, 216, 234, 0.3);
    font-size: 14px;
    padding: 5vw;
    
}

@media (min-width: 900px) {
    /* header */
    header{
        justify-content: space-between;
        flex-direction: row;
        height: 100px;
        flex-wrap: nowrap;
        gap: 30vw;
        padding: 0 120px;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight    : bold;
        border-bottom: #FF0077;
        gap: 10px;
    }
    nav a{
        font-size: 1.2rem;
        padding: 0 10px;
        
    }
    
    .logo-header{
        height: 60px;
    }
    .img-3bars{
        display: none;
    }   
    
    .toggle-button{
        display: none;
    }
    .toggle-checkbox{
        display: none;
    }
    /* Body */
    .body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 120px;
    }
    /* footer */
    .f-horarios, .f-titulos{
        display: flex;
    }
    footer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        height: 350px;
        padding: 0 120px;
    }
    .f-logo{
        width : 100%;
        height: 6vh;
        padding: 2vh 0;
    }
   
    .f-contatos address{
        text-align: start;
    }
    .f-contatos .f-titulos{
        font-size: 1.3rem;
    }
    .f-social-midia{
        flex-wrap: wrap;
        justify-content: end;

        width: 15vw;
    }
    .f-social-midia img{
        width: 3vw;
        height: 3vh;
    }
    .f-social-midia .f-titulos{
        font-size: 1.3rem;
        width: 100%;
        padding: 1vw;
    }
    .f-horarios{
        width: 25vw;
        flex-direction: column;
        align-items: center;
    }



    .copyright{
        width: 100%;
    }
    .copyright p{
        padding: 2vh 0;
        font-size: 1rem;
    }
}

